.header {
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #212121;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --background-color: #2f303a;
  --hover-color: #2196f3;
}

/* .button {
  cursor: pointer;
} */

/* -----------------------------HEADER---------------------------- */

.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-web {
  color: #2196f3;
}
.header-studio {
  color: #000000;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contact:hover,
.header-contact:focus {
  color: #2196f3;
}

/* -----------------------------MAIN-ORDER---------------------------- */

.main-order {
  background-color: #2F303A;
}

.main-order-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-order-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196F3;
}
/* -----------------------------MAIN-BENEFITS---------------------------- */

.main-order-title {

}
.main-benefits {

}
.main-benefits-title {

}
.main-benefits-list {

}
.main-benefits-item {

}
.main-benefits-item-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.main-benefits-item-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
/* -----------------------------MAIN-SERVICES---------------------------- */
.main-services {

}

.main-services-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.main-services-list {

}
.main-services-item {

}

/* -----------------------------MAIN-TEAM---------------------------- */

.main-team {

}
.main-team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.main-team-list {

}
.main-team-item {

}
.main-team-item-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.main-team-item-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/* -----------------------------FOOTER---------------------------- */
.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.footer-web {
  color: #2196f3;
}
.footer-studio {
  color: #ffffff;
}

.footer-contact:hover,
.footer-contact:focus {
  color: #2196f3;
}

.address {
  text-decoration: none;
  list-style: none;
}

.footer-address-text:hover,
.footer-address-text:focus {
  color: #2196f3;
}