.header {
}

body {
  font-family: 'Roboto', sans-serif;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
:root {
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --fourth-color: #2196f3;
  --background-color: #2f303a;
  --hover-color: #2196f3;
}

/* -----------------------------HEADER---------------------------- */
.header {
  background-color: #ffffff;
}
.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-web {
  color: var(--fourth-color);
}
.header-studio {
  color: var(--main-color);
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--main-color);
  }

.header-link-studio {
  color: var(--fourth-color);
}

.header-link-portfolio {
  color: var(--main-color);
}
.header-link-contacts {
  color: var(--main-color);
}

.header-link-studio:hover,
.header-link-studio:focus {
  color: var(--hover-color);
}

.header-link-portfolio:hover,
.header-link-portfolio:focus {
  color: var(--hover-color);
}

.header-link-contacts:hover,
.header-link-contacts:focus {
  color: var(--hover-color);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--hover-color);
}

/* -----------------------------MAIN-ORDER---------------------------- */

.main-order {
  background-color: var(--background-color);
}

.main-order-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}

.main-order-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--hover-color);
}

.main-order-button:hover,
.main-order-button:focus {
  color: var(--hover-color);
background-color: var(--third-color);
}

.button {
cursor: pointer
}
/* -----------------------------MAIN-BENEFITS---------------------------- */

.main-benefits {
  background-color: #E5E5E5;
}
.main-benefits-title {

}
.main-benefits-list {

}
.main-benefits-item {

}
.main-benefits-item-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-color);
}

.main-benefits-item-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-color);
}
/* -----------------------------MAIN-SERVICES---------------------------- */
.main-services {
background-color: #E5E5E5;
}

.main-services-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
}
.main-services-list {

}
.main-services-item {

}

/* -----------------------------MAIN-TEAM---------------------------- */

.main-team {
  background-color: #F5F4FA;
  }
.main-team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
}
.main-team-list {

}
.main-team-item {

}
.main-team-item-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
}

.main-team-item-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-color);
}

/* -----------------------------FOOTER---------------------------- */
.footer {
  background-color: var(--background-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-web {
  color: var(--fourth-color);
}
.footer-studio {
  color: var(--third-color);
}

.footer-address-text {
  font-size: 14px;
line-height: 1.71
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-contact {
  font-size: 14px;
line-height: 1.71
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--hover-color);
}

.address {
  text-decoration: none;
  list-style: none;
}

.footer-address-text:hover,
.footer-address-text:focus {
  color: var(--hover-color);
}